.next {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}
.next a {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 1280px) {
  .slide {
    margin: 50px 150px;
  }
  .next {
    padding-inline: 120px;
    font-size: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .slide {
    margin: 50px;
  }
  .next {
    padding-inline: 90px;
    font-size: 25px;
  }
}
@media screen and (max-width: 650px) {
  .slide {
    margin: 50px 20px;
  }
  .next {
    padding-inline: 10px;
    font-size: 15px;
  }
}
